.faction-flag {
  width: 4.5rem;
  height: 4.5rem;
}

.faction-flag-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;

  .faction-flags {
    display: flex;
    margin: auto;
    text-align: center;

    .faction-flag-group {
      width: 6rem;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .selected-faction-container {
    margin: auto;
    text-align: center;

    img {
      height: 10rem;
      width: 10rem;
    }
  }
}
